<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wagento" translate="label" sortOrder="10">
            <label>Wagento</label>
        </tab>
        <section id="prefixer" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="1">
            <label>Order Prefixer</label>
            <tab>wagento</tab>
            <resource>Wagento_Prefix::config</resource>
            <group id="configuration" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Enable Prefixer</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Enable Prefixer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Prefix for Orders</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>required-entry no-whitespace</validate>
                    <comment><![CDATA[(It looks like PREFIX000000001)]]></comment>
                </field>
                <field id="invoice" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Prefix for Invoices</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>required-entry no-whitespace</validate>
                    <comment><![CDATA[(It looks like PREFIX000000001)]]></comment>
                </field>
                <field id="shipment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Prefix for Shipments</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>required-entry no-whitespace</validate>
                    <comment><![CDATA[(It looks like PREFIX000000001)]]></comment>
                </field>
                <field id="creditmemo" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Prefix for Credit Memos</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>required-entry no-whitespace</validate>
                    <comment><![CDATA[(It looks like PREFIX000000001)]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>